.add-card {
  background-color: #fff;
  min-height: 2rem;
  width: 80%;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  &.card__title {
    margin: auto 0;
  }
  &__inactive {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    p {
      margin: 0;
    }
    &:hover {
      background-color: rgb(219, 219, 219);
      cursor: pointer;
    }
    &__text {
      padding: 1rem 0.25rem;
    }
  }
  &__form {
    display: flex;
    &__input-field {
      border: 1px solid rgb(110, 110, 110);
      box-shadow: none;
      width: 80%;
      margin: 0.5rem 0.25rem;
      padding: 0.5rem 0;
    }
    &__submit-button {
      border: none;
      box-shadow: none;
      height: 2rem;
      width: 2rem;
      border-radius: 3px;
      margin: 0.5rem 0.25rem;
      &:hover {
        background-color: rgb(110, 110, 110);
        cursor: pointer;
      }
    }
  }
}
